{% extends 'base.html.twig' %}
{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<div id="container" class="well">
    <h1>Welcome to TheList</h1>
    <p>Are you ready for the challenge?</p>

    <p>
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Login</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">Register</a>
    </p>
</div>

{% endblock %}


{% block react %}

{% endblock %}